html  
  head
    title= Diffoo
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    h1 Github Link
    a(href='https://github.com/superpatricko/impulse/compare/DEV...QA') Link to github diff
    h2 Files Changed
    //- p #{data}
    ul
      each val in data
        li= val
